.btn {
    color: royalblue;
    height: auto;
    width: auto;
    font-size: 18px;
    padding: 5px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: gray 2px 2px;
}

.btn:hover {
    color: red;
    cursor: pointer;
}

.btn:active {
    box-shadow: none;
}